.container6 {
  background-color: rgb(250, 248, 243);
  clip-path: polygon(0 40%, 100% 4%, 100% 100%, 0 100%);
  position: relative;
  z-index: -1000;
}
.container6 h2 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 500%;
  line-height: 9.7rem;
  padding-top: 20rem;
}
.container6_image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.container6_image img{
    cursor: pointer;
    height: 50%;
    width: 20%;
    margin: 0 1rem;
}

@media screen and (max-width:1150px) {
    .container6 {
  background-color: transparent;
  clip-path: none;
}
.container6 h2{
    line-height: 5rem;
    padding-top: 10rem;
}
}