
.hero_container{
    margin: 2% auto;
    text-align: center;
}
.text{
    text-align: center;
        font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.typewriter{
    margin: 2rem 0;
}
.typewriter h1{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}

.hero_buttons{
    width: 33%;
    display: flex;
    margin: 3% auto;
    justify-content: space-between;
}
.hero_icons::after{
    content: "A";
    position: relative;
    left: -35rem;
    top: 6rem;
    font-size: 2rem;
    color: var(--primary-color);
    font-family: poppins;
    background: #fff;
    box-shadow: 0 4px 50px rgb(0 0 0 / 10%);
    border-radius: 100%;
    padding: 15px;
    z-index: -1;
}
.hero_icons::before{
    content: "B";
    position: relative;
    left: 50rem;
    top: 6rem;
    font-size: 2rem;
    color: var(--primary-color);
    font-family: poppins;
    background: #fff;
    box-shadow: 0 4px 50px rgb(0 0 0 / 10%);
    border-radius: 100%;
    padding: 15px;
    z-index: -1;
}
.hero_c::after{
    content: "C";
    position: relative;
    top:10rem;
    left: 20rem;
    font-size: 2rem;
    color: var(--primary-color);
    font-family: poppins;
    background: #fff;
    box-shadow: 0 4px 50px rgb(0 0 0 / 10%);
    border-radius: 100%;
    padding: 15px;
    z-index: -1;
}
@media screen and (max-width: 1200px) {
   .hero_c::after, .hero_icons::after, .hero_icons::before{
       display: none;
   }
   .hero_buttons{
       width: 40%;
   }
}

@media screen and (max-width:950px){
    .hero_buttons{
       width: 60%;
   }
}
@media screen and (max-width:620px){
    .hero_buttons{
      flex-direction: column;
   }
   .hero_buttons button{
       margin: 1rem auto;
   }
}