.nav_container {
  display: flex;
  justify-content: space-between;
  padding: 1% 10%;
  position: sticky;
  top: 0;
  align-items: center;
  background-color: #fff;
}

.nav_links {
  display: flex;
}

.nav_link {
  font-family: Poppins;
  margin-right: 3rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 1.2rem;
  cursor: pointer;
}
.nav_link a {
  color: black;
  opacity: 0.8;
}
.nav_link a:hover {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}
.nav_feature {
  position: relative;
}
.nav_link_feature {
  position: absolute;
  font-family: poppins;
  top: 25px;
  right: -55px;
  width: 200px;
  background: #fff;
  border: 1px solid #afadad;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 1s;
  margin-right: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  display: none;
}
.nav_feature:hover .nav_link_feature {
  display: block;
  transition: 2s;
}
.mobile_icon {
  width: 3rem;
  height: 3rem;
  color: #fa3d3d;
}
.mobile_icon_container {
  display: none;
}
@media screen and (max-width: 850px) {
  .nav_links {
    display: none;
  }
  .mobile_icon_container {
    display: block;
    margin-right: 0rem;
    cursor: pointer;
  }
}
