.container5{
    margin: 10rem 0;
    padding: 0 10rem;
}
.container5 h1{
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 9.2rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 6rem;
    margin-top: 20rem;
}
.cont5_image{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cont5_img1{
    background-image: url('../../assets/1.svg');
    width: 30%;
    height: 300px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.cont5_img2{
    background-image: url('../../assets/2.svg');
    left: 10rem;
    width: 30%;
    height: 300px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -7rem;
}
.cont5_img3{
    background-image: url('../../assets/3.svg');
    width: 30%;
    height: 300px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -6rem;
}
.cont5_img4{
    background-image: url('../../assets/4.svg');
    width: 30%;
    height: 300px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -8rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.cont5_image p{
    position: relative;
    top: 16rem;
    left: 4rem;
    text-align: center;
    font-weight: 700;
    font-size: 39.06px;
    line-height: 59px;
    color: #e9ebeb;
    width: 70%;
}
@media screen and (max-width:1150px){
    .container5{
        display: none;
    }
}