.section1_container {
  display: flex;
  align-items: center;
  margin-left: 40rem;
  margin-top: -40rem;
}

.img1_container {
  filter: drop-shadow(47.77px 68.24px 136.48px rgba(0, 0, 0, 0.17));
  z-index: -1;
}

.img1_container::before{
  content: url('../../assets/Vector-left.svg');
  position: absolute;
  left: -35rem;
  top: 25rem;
  z-index: -1;
}
.text_container{
  margin-top: -60rem;
}
.text_container::after{
  content: url('../../assets/Vector-right.svg');
  position: absolute;
  right: 20rem;
  z-index: -1;
}
.img1 {
  width: 320px;
  aspect-ratio: auto 320 / 720;
  height: 720px;
}
.text_container_individual{
  margin: 8rem 0;
}
.text_container_individual h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 4.7rem;
}
.text_container_individual p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
.text_container_img{
  color: var(--primary-color);
  height: 3rem;
  width: 3rem;
}
@media screen and (max-width: 1200px) {
   .img1_container::before, .text_container::after{
     display: none;
   }

   .section1_container{
     margin: 0;
     justify-content: space-around;
   }
   .text_container{
     margin: 0;
   }
}